body {
    background-color: lightgray;
}
h1{
    color:whitesmoke;            /* word color */
    background-color: black;     
    padding: 15px 30px;            /* the speace between words and the box */
    font-size: 2em;
    border: 3px solid white;     
    margin: 50px 100px 10px 100px; /*top right bottom left */
}
h2{
    background-color: gray;
    color: white;
    margin: 20px 100px 70px 100px;
    border: 3px solid white; 
    padding: 5px 10px; 
    font-size: 1.5em;
}
p {
    width: 700px;
    margin: 20px auto;
}
.thinner {
    width: 500px;
    line-height: 1.5em;
}
#myname{
    font-size: 3em;
    padding: 15px 30px;
    font-family: 'Water Brush', cursive;
}